@model List<Order>

 <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Status</th>
                  <th>Buyer</th>
                  <th>Payment</th>
                  <th>Quantity</th>
                </tr>
              </thead>
              <tbody>
                

              
                @foreach(var o in Model)
            {
                    <tr>
                      <td>@o.OrderId</td>
                      <td>@o.Status</td>
                      <td>@o.User</td>
                      <td>@o.Payment</td>
                      <td>@o.Quantity</td>
                    </tr>
            }

              
              </tbody>
            </table>
          </div>